<h1>Create a new user</h1>
<form [formGroup]="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control">
        <div *ngIf="nameFormControl.touched && nameFormControl.invalid">
            <div *ngIf="nameFormControl.hasError('required')" class="text-danger">This field is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input formControlName="username" type="text" class="form-control">
        <div *ngIf="usernameFormControl.touched && usernameFormControl.invalid">
            <div *ngIf="usernameFormControl.hasError('required')" class="text-danger">This field is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" type="text" class="form-control">
        <div *ngIf="emailFormControl.touched && emailFormControl.invalid">
            <div *ngIf="emailFormControl.hasError('required')" class="text-danger">This field is required.</div>
            <div *ngIf="emailFormControl.hasError('email')" class="text-danger">Email is invalid.</div>
        </div>
    </div>
    <hr>
    <div formGroupName="address">
        <div class="row">
            <div class="form-group col">
                <label for="street">Street</label>
                <input formControlName="street" type="text" class="form-control">
            </div>
            <div class="form-group col">
                <label for="city">City</label>
                <input formControlName="city" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="form.invalid" (click)="onSave()" class="btn btn-primary">Save</button>
        <button [routerLink]="['/users']" type="button" class="btn">Cancel</button>
    </div>
</form>