<div class="container-fluid">
    <div *ngFor="let alert of (alerts$ | async)">
        <div *ngIf="!alert.closed" class="alert alert-{{alert.type}} alert-dismissible m-1" [class.show]="!alert.closed" role="alert">
            {{alert.message}}
            <button (click)="alert.closed = true" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>