<div class="table-responsive">
    <table class="table">
        <thead>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" [user-table-row]="user" (delete)="onDelete($event)"></tr>
        </tbody>
    </table>
</div>